.about {
  .about__collapses {
    margin: 20px;
  }
  .highlight {
    color: white; 
  }

}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .about {
    .about__collapses {
      margin: 15px; 
    }
  }
}

@media (max-width: 480px) {
  .about {
    .about__collapses {
      margin: 10px; 
    }
  }
}
