.collapse {
  border: 1px solid white;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    padding: 10px;
    cursor: pointer;

    h2 {
      margin: 0;
    }

    .collapse__button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      .collapse__icon {
        color: white;
        transition: transform 0.3s ease;
      }

      &.open .collapse__icon {
        transform: rotate(180deg); // Rotation de 180 degrés pour pointer vers le bas
      }
    }
  }

  &__content {
    padding: 10px;
    background-color: #f0f0f0;
  }
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .collapse {
    &__header {
      padding: 8px; 

      h2 {
        font-size: 1.2rem; 
      }

      button {
        font-size: 1.3rem; 
      }
    }

    &__content {
      padding: 8px; 
    }
  }
}

@media (max-width: 480px) {
  .collapse {
    &__header {
      padding: 6px; 

      h2 {
        font-size: 1rem; 
      }

      button {
        font-size: 1.1rem; 
      }
    }

    &__content {
      padding: 6px; 
    }
  }
}

/* Media Query pour les écrans de 375px de largeur */
@media (max-width: 375px) {
  .collapse {
    &__header {
      padding: 5px;

      button {
        font-size: 0.9rem;
      }
    }

    &__content {
      padding: 5px;
    }
  }
}
