.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  &__header, &__main, &__footer {
    width: 100%;
    max-width: 1240px; 
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    min-height: 100px;

    .layout__logo-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px; /* Ajuster l'écart initial */
    }

    .layout__logo {
      height: 50px;
    }

    .layout__nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
      margin: 0;

      li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &:hover {
          color: #ff6347;
          text-decoration: underline;
        }
      }
    }
  }

  &__main {
    flex: 1;
    padding: 20px 0;
  }

  &__footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
  }
  .layout__footer-logo {
    height: 30px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1); 
  }
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .layout__header {
    .layout__logo {
      height: 45px;
    }

    .layout__logo-nav {
      gap: 10px; /* Réduire l'écart entre le logo et les liens */
    }

    .layout__nav ul {
      gap: 10px; 

      li a {
        font-size: 1rem; /* Réduire la taille de la police */
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 10px; 
  }
}

@media (max-width: 480px) {
  .layout__header {
    .layout__logo {
      height: 40px; 
    }

    .layout__logo-nav {
      gap: 5px; /* Réduire encore plus l'écart entre le logo et les liens */
    }

    .layout__nav ul {
      gap: 5px; 

      li a {
        font-size: 0.9rem; /* Réduire davantage la taille de la police */
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 5px; 
  }
}

/* Media Query pour les écrans de 375px de largeur */
@media (max-width: 375px) {
  .layout__header {
    .layout__logo {
      height: 35px; 
    }

    .layout__logo-nav {
      gap: 3px; /* Réduire l'écart au minimum entre le logo et les liens */
    }

    .layout__nav ul {
      gap: 3px; 

      li a {
        font-size: 0.8rem; /* Réduire la taille de la police */
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 3px; 
  }
}

.layout__footer {
  height: 300px;
}