.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 10px;

  .slide-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
      z-index: 1;
    }

    &.animating {
      z-index: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;  
      border-radius: 10px;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    img {
      width: 94px;
      height: 94px;
      font-weight: bold;
    }

    &.left-arrow {
      left: 1px;
    }

    &.right-arrow {
      right: 1px;
    }
  }

  .slide-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    font-size: 18px;
  }
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .slideshow {
    height: 300px; 
  }
}

@media (max-width: 480px) {
  .slideshow {
    height: 200px; 
  }
}

@media (max-width: 375px) {
  .slideshow {
    height: 150px; 

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      z-index: 2;
  
      img {
        width: 28px;
        height: 28px;
        font-weight: bold;
      }
  
      &.left-arrow {
        left: 17px;
      }
  
      &.right-arrow {
        right: 1px;
      }
    }

  }
}
