@import '../../styles/Variables';
@import '../../styles/Mixins';

.logement-container {
  max-width: 1240px;
  margin: 0 auto;
}

.logement {
  .slideshow {
    margin-bottom: 1.5rem;
    height: 415px;
  }

  .logement-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logement-details {
      flex: 2;
      margin-right: 1rem;

      .logement-header {
        margin-bottom: 0.5rem;

        h1 {
          text-align: left;
          color: $primary-color;
          margin: 0;
          margin-top: 0.5rem;
          font-size: 36px; 
          font-weight: normal;
        }
      }

      .location {
        font-size: 18px;
        margin-bottom: 1rem;
        text-align: left;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .tag {
          min-width: 115px;
          width: auto;
          max-width: 100%;
          height: 25px;
          background-color: $primary-color;
          color: white;
          font-weight: bold;
          font-size: 14px;
          margin-top: 5px;
          padding: 0.5rem 10px;
          @include border-radius($border-radius);
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
        }
      }
    }

    .rating-host {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .host-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        order: 2;

        .host-name {
          margin-right: 3rem;
          color: $primary-color;
          max-width: 45px;
          padding-right: 10px;
          font-size: 18px;
        }

        .host-picture-container {
          width: 65px;
          height: 65px;
          @include border-radius(50%);
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          .host-picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .rating {
        display: flex;
        margin-top: 0.7rem;
        order: 2;

        .star {
          width: 24px;
          height: 24px;
          margin-right: 0.85rem;
        }
      }
    }
  }

  .collapse-container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 1rem;

    .collapse {
      flex: 1;
      margin-bottom: 1rem;

      .collapse__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: $primary-color;
        padding: 5px 10px;
        @include border-radius($border-radius);

        h2 {
          margin: 0;
          color: white;
        }

        button {
          background: none;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;

          &:hover {
            background-color: darken($primary-color, 10%);
          }

          .collapse-icon {
            color: white;
            transition: transform 0.3s ease;
          }

          &.open .collapse-icon {
            transform: rotate(180deg);
          }
        }
      }

      .collapse__content {
        overflow: hidden;
        transition: height 0.3s ease, padding 0.3s ease;
        height: 0;
        padding: 0 10px;
        margin-bottom: 0;

        &--open {
          height: auto;
          padding: 10px;
          background-color: $background-color;
        }

        .collapse__text {
          padding: 10px;
          background-color: $background-color;
        }
      }
    }
  }

  .layout__footer {
    margin-top: 10px; // Espace par défaut
    transition: margin-top 0.3s ease; // Ajout de la transition

    &.collapse-open {
      margin-top: 30px; // Espace plus grand lorsque le collapse est ouvert
    }
  }
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .logement {
    .slideshow {
      height: 300px;
    }

    .logement-content {
      flex-direction: column;

      .logement-details {
        .logement-header {
          h1 {
            font-size: 1.2rem;
          }
        }

        .location {
          font-size: 0.9rem;
        }

        .tags {
          .tag {
            padding: 0.2rem 0.5rem;
            font-size: 14px;
            min-width: 10vh;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .logement {
    .slideshow {
      height: 200px;
    }
  }
}

@media (max-width: 375px) {
  .logement {
    .slideshow {
      height: 250px;
    }

    .logement-content {
      .logement-details {
        .logement-header {
          h1 {
            font-size: 1.2rem;
          }
        }

        .location {
          font-size: 1rem;
        }

        .tags {
          .tag {
            padding: 0.2rem 0.5rem;
            font-size: 0.8rem;
            min-width: 5vh;
          }
        }
      }

      .rating-host {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 90px;

        .host-container {
          margin-bottom: 0;
          order: 2;

          .host-name {
            font-size: 0.8rem;
          }

          .host-picture-container {
            width: 25px;
            height: 25px;
          }
        }

        .rating {
          margin-top: 0;
          order: 1;

          .star {
            font-size: 1rem;
          }
        }
      }
    }

    .collapse-container {
      flex-direction: column;
      gap: 0;

      .description, .equipments {
        .collapse-header {
          button {
            padding: 0.2rem 0.5rem;
            font-size: 0.8rem;
          }
        }

        p, ul {
          padding: 2px;
        }
      }
    }
  }
}
