@import '../../styles/Variables';
@import '../../styles/Mixins';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  align-items: center;

  &__header, &__main {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 45px;
    margin-bottom: 30px;

    .layout__logo-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .layout__logo {
      height: 60px;
    }

    .layout__nav {
      display: flex;
      align-items: center;
      gap: 57px;

      ul {
        list-style: none;
        display: flex;
        gap: 65px;
        padding: 0;
        margin: 0;
        font-size: 24px;

        li {
          .nav-link {
            text-decoration: none;
            color: $secondary-color;
            font-weight: bold;

            &:hover {
              color: lighten($primary-color, 10%);
              text-decoration: underline;
            }

            &.active {
              color: lighten($primary-color, 10%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.about-page {
    .layout__header {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .layout__main {
      padding: 0;
      width: 1023px;
    }

    .layout__footer {
      margin-top: 30px;
      position: relative;

    }
  }

  &.notfound-page {
    .layout__header {
      .layout__logo {
        height: 60px;
      }

      .layout__nav {
        ul {
          gap: 50px;

          li {
            .nav-link {
              font-size: 16px;
              text-transform: uppercase;
              padding-right: 15px;
            }
          }
        }
      }
    }
    .layout__main {
      max-height: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  &__main {
    flex: 1;
    width: 100%;
    padding: 20px 0;

    &.no-padding {
      padding: 0;
    }
  }

  &__footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
    width: 100%;
    max-width: 1440px;
    position: relative;


    .layout__footer-logo {
      height: 30px;
      margin-top: 50px;
      margin-bottom: 30px;
      filter: brightness(0) invert(1);
    }
  }



}


/* Media Query pour 1270px de largeur */
@media (max-width: 1270px) {

  .layout__header {

    padding-right: 20px;
    padding-left: 20px;

    .layout__logo {
      height: 45px;
    }

    .layout__logo-nav {

      gap: 10px;
    }

    .layout__nav {
      left: auto;
      right: 20px;
      gap: 10px;

      ul {
        gap: 10px;

        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }

}




/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .layout__header {
    .layout__logo {
      height: 45px;
    }

    .layout__logo-nav {

      gap: 10px;
    }

    .layout__nav {
      left: auto;
      right: 20px;
      gap: 10px;

      ul {
        gap: 10px;

        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .layout__header {
    .layout__logo {
      height: 40px;
    }

    .layout__logo-nav {
      gap: 5px;
    }

    .layout__nav {
      left: auto;
      right: 10px;
      gap: 5px;

      ul {
        gap: 10px;

        li {
          a {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 5px;
  }
}

/* Media Query pour les écrans de 375px de largeur */
@media (max-width: 375px) {
  .layout__header {

    margin-top: 8px;
    padding-left: 19px;
    margin-bottom: 17px;

    .layout__logo {
      height: 45px;
    }

    .layout__nav {
      ul {
        gap: 10px;

        li {
          a {
            font-size: 12px;
            text-transform: uppercase;
            padding-right: 20px;
          }
        }
      }
    }
  }

  .layout__main, .layout__footer {
    padding: 0 3px;
  }
}

.layout__footer {
  height: 300px;
}
