.banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  padding-top: 60px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 0;
   

  &.box-shadow {
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5); 
  }

  .banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .banner__title {

    font-size: 2.85rem;
    color: white;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    text-align: center;
    position: relative;

  }


}

@media (max-width: 1270px) {
  .banner {
    height: 170px;
    width: 90%;
     

    .banner__title {
      font-size: 1.5rem;
    }
  }
}


/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .banner {
    height: 170px;
     

    .banner__title {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .banner {
    width: 331px;
    height: 110px;
    margin-bottom: 10px; 
    border-radius: 11px;

    .banner__image {
      border-radius: 11px;
    }

    .banner__title {
      left: 0;
      transform: translateY(-50%);
      padding-left: 20px; 
      text-align: left;
    }

    .banner__title {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 375px) {
  .banner {

    .banner__title {
      font-size: 1.4rem;
      top: 30px;
      right: 50px;
    }
  }
}
