@import '../../styles/Variables';
@import '../../styles/Mixins';

// Variables
$text-color: white;
$transition-time: 1.5s; 
$max-height: 1000px;

// Mixin pour la transition
@mixin transition($property, $duration, $ease) {
  transition: $property $duration $ease;
}

// Variables de breakpoint
$breakpoint-medium: 768px;
$breakpoint-small: 480px;
$breakpoint-extra-small: 375px;

.collapse {
  border: 1px solid $text-color;
  margin: 10px 0;
  overflow: hidden; 
  width: 100%;
  box-sizing: border-box;
  @include border-radius(5px); 

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 10px;
    height: 52px;
    cursor: pointer;
    box-sizing: border-box;
    @include border-radius(5px 5px 0 0);

    h2 {
      margin: 0;
      color: $text-color;
      font-size: 18px;
      flex: 1;
      text-align: left;
    }

    .collapse__button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      .collapse__icon {
        @include transition(transform, $transition-time, ease);
        width: 40px;
        height: 40px;
        transform: rotate(90deg);
        padding-right: 5px;
        margin-right: 10px;
      }

      &.open .collapse__icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    opacity: 0; 
    text-align: left;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    @include transition(max-height, $transition-time, ease);
    @include transition(padding, $transition-time, ease);
    @include transition(opacity, $transition-time, ease); 

    &--open {
      max-height: $max-height;
      opacity: 1; 
      background-color: rgb(245, 245, 245);
      @include border-radius(0 0 5px 5px); 
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  &__text {
    padding: 10px;
    background-color: rgb(245, 245, 245); 
    text-align: left;
  }

  @media (max-width: $breakpoint-medium) {
    &__header {
      padding: 8px;

      h2 {
        font-size: 1.2rem;
      }

      .collapse__button {
        font-size: 1.3rem;
      }
    }

    &__content {
      padding: 8px;

      &--open {
        padding: 8px;
      }
    }
  }

  @media (max-width: $breakpoint-small) {
   
    &__header {
      padding: 6px;

      h2 {
        font-size: 1rem;
      }

      .collapse__button {
        font-size: 1.1rem;
      }
    }

    &__content {
      &--open {
        padding: 6px;
      }
    }
  }

  @media (max-width: $breakpoint-extra-small) {
    .collapse {
      margin: 0;
      width: calc(100% - 30px); 
    }

    &__header {
      margin-left: 15px; 
      padding: 6px; 
      height: 30px;
      width: 335px;
      //width: calc(100% - 15px);
      @include border-radius(5px 5px 5px 5px);
      
      h2 {
        font-size: 0.8rem; 
      }

      .collapse__button {
        font-size: 1.1rem;

        .collapse__icon {
          width: 24px;
          height: 24px; 
          font-weight: bold;
          transform: rotate(90deg);
        }

        &.open .collapse__icon {
          transform: rotate(270deg);
        }
      }
    }

    &__content {
      padding: 0; 
      margin-left: 15px;
      width: 335px;
      @include border-radius(0 0 5px 5px); 
      font-size: 0.8rem; 

      &--open {
        padding: 5px; 
      }
    }
  }
}