@import '../../styles/Variables';
@import '../../styles/Mixins';

// Variables
$text-color: white;
$transition-time: 0.3s;

// Mixin pour la transition
@mixin transition($property, $duration, $ease) {
  transition: $property $duration $ease;
}

// Variables de breakpoint
$breakpoint-medium: 768px;
$breakpoint-small: 480px;
$breakpoint-extra-small: 375px;

.collapse {
  border: 1px solid $text-color;
  margin: 10px 0;
  @include border-radius(5px);
  overflow: hidden;
  width: 100%;
  @include transition(height, $transition-time, ease);
  @include transition(padding, $transition-time, ease);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 10px;
    height: 52px;
    cursor: pointer;

    h2 {
      margin: 0;
      color: $text-color;
      font-size: 18px;
      flex: 1;
      text-align: left;
    }

    .collapse__button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      .collapse__icon {
        color: $text-color;
        @include transition(transform, $transition-time, ease);
      }

      &.open .collapse__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    @include transition(height, $transition-time, ease);
    height: 0;
    padding: 0 10px;
    text-align: left;
    font-size: 18px;
    width: 100%;

    &--open {
      height: auto;
      padding: 10px;
      background-color: rgb(235, 235, 235);
    }
  }

  &__text {
    padding: 10px;
    background-color: rgb(235, 235, 235);
    text-align: left;
  }

  @media (max-width: $breakpoint-medium) {
    &__header {
      padding: 8px;

      h2 {
        font-size: 1.2rem;
      }

      .collapse__button {
        font-size: 1.3rem;
      }
    }

    &__content {
      padding: 8px;

      &--open {
        padding: 8px;
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    &__header {
      padding: 6px;

      h2 {
        font-size: 1rem;
      }

      .collapse__button {
        font-size: 1.1rem;
      }
    }

    &__content {
      padding: 6px;

      &--open {
        padding: 6px;
      }
    }
  }

  @media (max-width: $breakpoint-extra-small) {
    &__header {
      padding: 5px;

      .collapse__button {
        font-size: 0.9rem;
      }
    }

    &__content {
      padding: 5px;

      &--open {
        padding: 5px;
      }
    }
  }
}
